body {
    font-family: 'Arial', sans-serif;
    background-color: #042940;
    color: #9FC131;
}

.todo-app {
    background-color: #005C53;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    margin: 50px auto;
}

#addBtn {
    background-color: #042940;
    border: 1px solid #005C53;
    color: #9FC131;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 12px;
    transition: background-color 0.2s;
    margin-top: 10px;
}

#addBtn:hover {
    background-color: #2F2F30;
    color: #9FC131;
}

.completed {
    text-decoration: line-through;
    color: #9FC131;
}
